*.o
*.dSYM
*.csv
*.out
*.png
*.so
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# CMake #
cmake-build-debug/
CMakeLists.txt
*.VC.*
*.pbd
.vs/
*.pdb
windows_darknet/*/src/
windows_darknet/x64/
windows_darknet/*/x64
~AutoRecover.darknet.vcxproj