*.o
*.dSYM
*.csv
*.out
*.png
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
*.VC.*
*.pbd
.vs/
*.pdb
windows_darknet/darknet/src/
windows_darknet/x64/
windows_darknet/darknet/x64
~AutoRecover.darknet.vcxproj